[Unit]
Description=fcz_tash_service

[Service]
ExecStart=/sdr/radar_adsb/task.sh
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=120
KillSignal=SIGINT
SyslogIdentifier=fcz-service
User=root

[Install]
WantedBy=multi-user.target

